.header {
  display: grid;
  align-items: center;
  padding: 85px 50px 92px 50px;
  grid-template-columns: 1fr min-content 1fr;
}

.header__menu {
  font-size: 18px;
  font-weight: 400;
}

.header__links-list {
  display: flex;
  gap: 32px;
}

.header__links-list-item {
  list-style: circle;
  font-size: 18px;
}

.header__links-list-item:first-child {
  list-style: none;
}

.header__link {
  text-decoration: none;
  border-bottom: 1px solid;
  cursor: pointer;
}

.header__link_active {
  border-bottom: none;
}

.header__logo {
  display: block;
  width: 146px;
}

.address {
  font-size: 18px;
  font-style: normal;
  line-height: 1.35;
  max-width: 240px;
}

.address a {
  border-bottom: 1px solid;
  text-decoration: none;
  cursor: pointer;
}

.header__address {
  justify-self: end;
}

.overlay {
  position: absolute;
  background-color: rgba(0, 0, 0, 0.6);
  inset: 0;
}

.cover {
  position: relative;
  z-index: -1;
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 165px 50px 50px;
  background: url("../images/cover.jpg") no-repeat center/cover;
}

.cover__title {
  font-family: "Raleway", serif;
  font-size: 100px;
  font-weight: 700;
  line-height: 115%;
  position: relative;
  z-index: 1;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  justify-content: space-between;
  text-transform: uppercase;
  color: #fff;
  gap: 21px;
  margin-bottom: 106px;
}

.cover__description {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.cover__description-text {
  font-size: 22px;
  font-weight: 400;
  z-index: 2;
  word-spacing: 19px;
  text-transform: uppercase;
  color: #fff;
}

.aligned-text {
  letter-spacing: 0.3em;
}

.aligned-text_center {
  text-align: center;
}

.aligned-text_right {
  text-align: right;
}

.letter-spacing-extended {
  margin-right: -30px;
  letter-spacing: 30px;
}

.bet-button {
  font-size: 22px;
  font-weight: 500;
  z-index: 2;
  padding: 12px 32px 11px 31px;
  text-transform: uppercase;
  color: #fff;
  border: #fff solid 1px;
  background: transparent;
}

.lots {
  margin: 180px 24px 120px 24px;
}

.lots__heading {
  font-family: "Raleway", serif;
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 26px;
  padding-left: 40px;
  text-transform: uppercase;
}

.lots__card-list {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  color: #fff;
  gap: 25px;
}

.lots__card-list-item {
  width: 334px;
  min-height: 596px;
}

.card-link {
  height: 100%;
  text-decoration: none;
  cursor: pointer;
}

.card {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  padding: 50px 40px;
}

.card_type_film {
  background: url("../images/card-lot-01.jpg") no-repeat center center/cover;
}

.card_type_book {
  background: url("../images/card-lot-02.jpg") no-repeat center center/cover;
}

.card_type_picture {
  background: url("../images/card-lot-03.jpg") no-repeat center center/cover;
}

.card__title {
  font-size: 22px;
  font-weight: 700;
  z-index: 0;
  text-decoration: underline;
  text-transform: uppercase;
  text-underline-offset: 1px;
}

.card__text {
  font-size: 20px;
  font-weight: 400;
  z-index: 2;
}

.lots__look-more-link {
  font-size: 20px;
  font-weight: normal;
  line-height: 25px;
  display: inline-block;
  margin-top: 30px;
  margin-left: 40px;
  border-bottom: 1px solid;
  text-decoration: none;
  cursor: pointer;
}

.about {
  display: grid;
  margin: 0 24px 0 24px;
  grid-template-columns: 334px 1fr;
}

.about__column {
  margin-top: 135px;
  padding: 0 25px 0 25px;
}

.about__logo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 240px;
  height: 240px;
  margin-top: 33px;
  margin-left: 47px;
  border-radius: 50%;
  background: #000;
}

.about__logo-image {
  z-index: 1;
  width: 148px;
  height: 114px;
}

.about__title {
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 100px;
  text-transform: uppercase;
}

.about__text {
  font-size: 20px;
  font-weight: 400;
  margin-top: 26px;
}

.without-margin-top {
  margin-top: 0;
}

.footer {
  display: grid;
  align-items: start;
  margin-top: 185px;
  padding: 0 50px 82px 50px;
  grid-template-columns: repeat(3, 1fr);
}

.footer__menu {
  font-size: 18px;
  font-weight: 400;
}

.footer__menu-list {
  list-style: none;
  text-align: center;
}

.footer__menu-link {
  border-bottom: 1px solid;
  text-decoration: none;
}

.footer__menu-link_active {
  border-bottom: none;
}

.footer__social-list {
  display: flex;
  list-style: none;
  gap: 48px;
  justify-self: end;
  flex-wrap: wrap;
}

.footer__social-icon {
  width: 48px;
  height: 48px;
}
